<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCOOP Dev - Result Browser</title>
    </head>
    <body>
        <h2>Existing Results</h2>
        {{#each results}}
            <pre><code>{{this}}</pre></code>
        {{/each}}

        <h2>Add a result.</h2>
        <form action="/dev/result" method="POST">
            <label for="query_id">Query Id</label>
            <select id="query_id" name="query_id" required>
                {{#each queries}}
                    <option value="{{this._id}}">{{this.title}}</option>
                {{/each}}
            </select>

            <label for="endpoint_id">Endpoint Id</label>
            <select id="endpoint_id" name="endpoint_id" required>
                {{#each endpoints}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>


            <label for="value">Value</label>
            <textarea id="value" name="value"></textarea>

            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="complete">Complete</option>
                <option value="canceled">Canceled</option>
                <option value="queued">Queued</option>
            </select>

            <input type="submit">
        </form>
    </body>
</html>
